version: "2.1"
services:
  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=USA/Chicago
    volumes:
      - ./data:/config
    ports:
      - 8443:8443
    restart: unless-stopped