:root {
  --F_Primary: #800080;
  --F_Primary_Variant: #FF99FF;
  --F_Primary_Hover: #990099;
  --F_Font_Color_Error: #d70a53;
  --F_Font_Family: 'Poppins';
  --L_Prompt_Height: 160px;
  --L_Prompt_Padding: .75rem;
}

html, body {
  font-family: 'Poppins' !important;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}